/* Dark mode colors. */
:root {
  --sl-color-accent-low: #772828;
  --sl-color-accent: #cf4949;
  --sl-color-accent-high: #d06464;
  --sl-color-white: #eeefef;
  --sl-color-gray-1: #cbced0;
  --sl-color-gray-2: #a9aeb1;
  --sl-color-gray-3: #878d92;
  --sl-color-gray-4: #646c73;
  --sl-color-gray-5: #535c63;
  --sl-color-gray-6: #111827;
  --sl-color-black: #1f2937;
  --sl-color-text-invert: var(--sl-color-white);
  --sl-color-text: var(--sl-color-gray-1);
  --sl-color-hairline: var(--sl-color-gray-5);
  --sl-color-bg-inline-code: var(--sl-color-gray-6);
  /* --sl-color-bg-nav: var(--sl-color-black); */
  /* --sl-color-bg-sidebar: var(--sl-color-black); */
  --link-card-bg: #1c2532;
  --menus-border: var(--sl-color-gray-5);
  --sl-font: "Inter Variable", sans-serif;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #f2cdc9;
  --sl-color-accent: #9c111f;
  --sl-color-accent-high: #561d1c;
  --sl-color-white: #1f2937;
  --sl-color-gray-1: #111827;
  --sl-color-gray-2: #535c63;
  --sl-color-gray-3: #646c73;
  --sl-color-gray-4: #878d92;
  --sl-color-gray-5: #a9aeb1;
  --sl-color-gray-6: #cbced0;
  --sl-color-black: #eeefef;
  --sl-color-text-invert: var(--sl-color-black);
  --link-card-bg: #d6d7d7;
}

.pagination-links > a {
  background-color: var(--sl-color-gray-6);
}

/* Hide sidebar border */
.right-sidebar {
  border-inline-start: none;
}

.social-icons > a {
  color: var(--sl-color-gray-1);
}

.site-title {
  color: var(--sl-color-accent);
}

/* Change link card default & hover background colors */
.sl-link-card {
  background-color: var(--link-card-bg);
}
.sl-link-card:hover {
  background-color: var(--sl-color-gray-6);
}

/* Indent content of step cards, excluding a bunch of elements we don't want to touch inside the steps */
.sl-steps
  > li
  *:not(
    p:first-of-type,
    ul,
    ul > li,
    ol,
    ol > li,
    a,
    .astro-mf7fz2mj,
    details,
    code,
    u,
    em,
    aside,
    aside p > svg,
    .starlight-aside__content,
    strong,
    starlight-menu-button,
    p > starlight-image-zoom-zoomable
  ) {
  margin-left: 1.25rem;
}
/* don't pad details, apply a smaller margin */
.sl-steps li > details {
  padding-inline-start: unset;
  margin-left: 1rem;
}
/* don't pad the summary, leave it left aligned (mostly) */
.sl-steps li details > summary {
  padding-inline-start: unset;
}
/* margin any <p> that's a child of summary */
summary ~ p {
  margin-left: 1.25rem;
}

/* Bold first paragraph (found in Steps) */
ol li > p:first-child {
  font-weight: 600;
}

/* Make youtube embed from astro-embed smaller */
lite-youtube {
  max-width: 500px !important;
}

/* place sidebar above nav bar*/
header.header.astro-vrdttmbt {
  z-index: 1;
}
#starlight__sidebar {
  margin-top: -2px;
  z-index: 2;
}

/* Add some padding to hopefully keep images off the page in mobile */
img {
  padding-right: 1.25rem;
}

/* Add a small underline under "Overview" in the right sidebar */
a.astro-g2bywc46[href="#_top"] {
  border-bottom: 1px solid var(--sl-color-hairline);
}

.yt_iframe {
  min-height: 315px;
}

/* Scalable text stuff, for fun and maybe better ux, who knows */
@layer starlight, scalable-text;

@layer scalable-text {
  /* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  :root {
    --step--2: clamp(0.6076rem, 0.5964rem + 0.0563vw, 0.64rem);
    --step--1: clamp(0.7292rem, 0.7045rem + 0.1232vw, 0.8rem);
    --step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
    --step-1: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
    --step-2: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.5625rem);
    --step-3: clamp(1.512rem, 1.3586rem + 0.7672vw, 1.9531rem);
    --step-4: clamp(1.8144rem, 1.5963rem + 1.0904vw, 2.4414rem);
    --step-5: clamp(2.1773rem, 1.8731rem + 1.5208vw, 3.0518rem);
  }

  h1 {
    font-size: var(--step-5);
  }

  #starlight__on-this-page {
    font-size: var(--step-1);
  }

  h2 {
    font-size: var(--step-4);
  }

  h3 {
    font-size: var(--step-3);
  }

  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
  }

  h6 {
    font-size: var(--step-0);
  }

  p,
  a {
    font-size: var(--step-0);
  }

  span.astro-m46x6ez3 {
    font-size: var(--step-1);
  }
}
